@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@font-face {
    font-family: Motion-Picture;
    src: url(MotionPicture_PersonalUseOnly.ttf);}

*{ font-family: Quicksand;

box-sizing:border-box;
list-style: none ;
text-decoration: none;
}



* { margin :0;
}
body { height: 100vh;
    width: 300; 
  
 
    
    
    background-color: rgb(250, 144, 208) ;
}

:root{
    --main-color: rgb(196, 35, 131);
    --second-color:rgb(196, 35, 131);
    --bg-color:rgb(250, 144, 208);
 --text-color: #fff;
 --blue-color: #5dace3;


}
/*box shadow*/

--box-shadow: 2px 2px 10px 4px rgb(14 55 54 / 15%);




img {width:100%;}
section {padding:50px 100px;}
header{
    position:absolute;
width:100%;
top:0;
right:0;
z-index:1000;
display:flex;
align-items: center;
justify-content: space-between;
padding: 20px 100px;
transition:0.5s linear;
}

.logo {
   
        width: 110px;
        height:auto;
        display: block;
        margin-bottom: 00px;

}



.navbar{
    display: flex;
    column-gap: 100px;
    color:var(--text-color);


}
.navbar a {
    font-size:1rem;
    font-weight: 500;
    color:var(--text-color)
}




li:hover {
    color: var(--second-color)}



#menu-icon{
    display: none;
}






#icns{
    color: #fff;
font-size: 30px;
margin-left: 50px;
    cursor:pointer;
    z-index: 100000;
    color: #fff;

   

    }
    #icn-srch{
        color: #fff;
    font-size: 30px;
    
        cursor:pointer;
        z-index: 100000;
        color: #fff;
    
       
    
        }

 
    

.home{
    width: 100%;
min-height: 100vh;
display:grid;
grid-template-columns: repeat (auto-fit, minmax(17rem,1fr ));
align-items: center;
gap:1.5rem;
background: var(--bg-color);
}

.home-text span{
    font-weight: 600;
    text-transform: uppercase;
}

.home-text h1{
    font-size: 3.4rem;
    margin-bottom:1rem;

}

.heading{
    text-align: center;
}

.heading h1{
font-size:1.7rem ;
font-weight: 600;
text-transform: capitalize;
color: #ffffff;

}

.heading span {
    padding: 0.2rem 1.2rem;
    background:var(--main-color);
    color:var(--bg-color)
    font-weight:500;
    display:inline-block;
    text-transform:uppercase
    clip-path:polygon(100% 0, 93%, 50%, 86%, 99%, 0%, 100%, 7%, 47%,13% 0% );
}





new-arrival .box:hover content {
top:0;
transition: 0.2s;

}









.btn{
    background-color: var(--bg-color);
    color: #fff ;
    width: 150px;
    height: 100px;
    font-size: 20px;
    border-radius: 45px;
    display:flex
    justify-content:center;
    position:absolute;
    border:none;

    margin-top: 0px;
margin-left: 110px;
transition:1s;
}

.btn:hover{
    transform: scale(1.04);
  cursor: pointer;
}


.content {
    height: 520px;
    width: 935px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 5px 0px rgba(88, 20, 50, 0.75);
}

.content .slide img {
    height: 100%;
    width: 100%;
}

.navigation {
	position: absolute;
			bottom: 50px;
			left: 43%;
			z-index: 10;
			margin-bottom: -10px;
			font-size: 0;
			line-height: 0;
			text-align: center;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
}
      .navigation label {
        position: relative;
        display: inline-block;
        cursor: pointer;
        border-radius: 50%;
        margin: 0 4px;
        padding: 2px;
        background: rgb(205, 67, 150)0;
		
}

.navigation label:hover:after {
  opacity: 1;
}
 .navigation label:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -6px;
  margin-top: -6px;
  background: #ffff;
  border-radius: 50%;
  padding: 6px;
  opacity: 0;
}
.navigation> .arrows {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



.inside .navigation {
  bottom: 10px;
  margin-bottom: 10px;
}

.bar {

    width: 15px;
    height: 15px;
    border: 2px solid white;
    margin: 6px;
    border-radius: 15px;
    cursor: pointer;
    transform: .5s ease;}

.bar:hover {
    background-color: white;




    
}

input {
  display: none;
}
.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide {
    width: 20%;
    transition: .6s;
}

#slide1:checked ~ .s1 {
    margin-left: 0;
} 

#slide2:checked ~ .s1 {
    margin-left: -20%;
} 

#slide3:checked ~ .s1 {
    margin-left: -40%;
} 

#slide4:checked ~ .s1 {
    margin-left: -60%;
} 

#slide5:checked ~ .s1 {
    margin-left: -80%;
} 

.div-slide{
    background-color:#fff;
position: absolute;
top:0;
left:0
border: none;
width: 400px;
    height: 220px;
    z-index: 50px;

}

#finder{
    position: absolute;
    bottom:40%;
    display: block;
background: #fff;
padding: 16px;
border-radius: 0.5rem;
box-shadow :rgb(196, 35, 131);
width: 140px;
height: 10px;
margin-left: -85px;
border: none;
box-shadow: var(--second-color);
}

.w3-button w3-display-left{
    color: #fff;

}


.w3-button w3-display-right{
    color: #fff;
}


/* USERBOx*/

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}
.overlay:target {
	visibility: visible;
	opacity: 1;}



h5 {
	text-align: center;
	color: #82807f;
	margin: 80px auto;
	font-size: 20px;
	width: 50%;
	line-height: 1.7;
}
.box {
	text-align: center;
}
.button {
	
	cursor: pointer;
	transition: all 0.3s ease-out;
color: #fff;
}
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}
.overlay:target {
	visibility: visible;
	opacity: 1;
}

.wrapper {
margin:120px;
margin-left:1200px;
padding: 20px;
background:#ffff;
box-shadow: 0 15px 30px rgba(0,0,0,0.3);
border-radius: 5px;
width: 300px;
height: 400px;
position: relative;
transition: all 5s ease-in-out;
text-align: center;
position: absolute;
}

.wrapper .close {
position: absolute;
top: 20px;
right: 30px;
transition: all 200ms;
font-size: 30px;
font-weight: bold;
text-decoration: none;
color: var(--bg-color);
}
.wrapper .close:hover {
color: var(--second-color);
}
.wrapper .userbx {
max-height: 30%;
overflow: hidden;


}
/*form*/


.userbox  {
	border-radius: 5px;
	background-color: #e7e7e7;
	padding: 20px 0;
  position: absolute;
  z-index: 10;
}


.form .info-login{
    display: block;
    position: absolute;
    font-family: Quicksand;
    color: var(--bg-color);
    text-align: center;
    font-size:35px;
    margin-left:28%;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    display: block;
    position: absolute;
    background: #fff;
padding: 16px;
border-radius: 0.5rem;
box-shadow :rgb(196, 35, 131);
width: 190px;
height: 20px;

margin-top: 60px;
align-items: center;
margin-left:34px

  }

  input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    display: block;
    position: absolute;
    background: #fff;
padding: 16px;
border-radius: 0.5rem;
box-shadow :rgb(196, 35, 131);
width: 190px;
height: 20px;

margin-top: 100px;
align-items: center;
margin-left:34px
  }




  input[type=submit] {
    width: 100%;
  
    box-sizing: border-box;
    display: block;
    position: absolute;
border-radius: 0.5rem;
width: 190px;
height: 40px;

text-align: center;

margin-top: 100px;
align-items: center;
margin-left:34px
  }
    
 

  .lgn{
    display: block;
    position: absolute;
    font-family: Quicksand;
    color: var(--bg-color);
    text-align: center;
    font-size:15px;
    margin-left:15%;
margin-top:140px;
}
/*form*/





/*USERBOX*/


/* SEARCH*/
.txt1:hover{
    color: var(--second-color);
    display: flex;
   text-decoration: underline;
  }
  
  .grid {
  float: left;}
    
    .card {
      margin-top: 100px;
      height: 250px;
      width:250px;
      background-size: cover;
      background-position:  50% 50%;
      border-radius: 5px;
      cursor: pointer;
      transition: 1s;
      display: flex;
      flex-direction: column;
      justify-content:flex-end;
      color:  var(--second-color);
      font-size: 17px;
      text-align: center;
      font-family: 'Kdam Thmor Pro',sans-serif;
      display: block;
    }
    
    
    .card:hover {
      transform: scale(1.02);}
  
      .prod1{
        float:left;
        
      }
  
      .prod2{
        float:left;
        margin-left: 30px;
       
      
      }
  
      .prod3{
        float:left;
        margin-left: 30px;
   
      }
  
      
  .grid2 {
    margin-bottom: 150px;
    float: left;}
  
    .txt1:hover{
      color: var(--second-color);
      display: flex;
  
    
    }
  
    .txt1 {
      color: #ffff;
      display: flex;
     margin-left: 60px;
     cursor:pointer;
  font-size: 20px;
    }
    
    .txt3:hover{
      color: var(--second-color);
      display: flex;
  
    }
  
    .txt3 {
      color: #ffff;
      display: flex;
     margin-left: 15px;
     cursor:pointer;
  font-size: 20px;
    }
  
    .txt4:hover{
      color: var(--second-color);
      display: flex;
  
    }
  
    .txt4 {
      color: #ffff;
      display: flex;
     margin-left: 75px;
     cursor:pointer;
  font-size: 20px;
    }
    .txt5:hover{
      color: var(--second-color);
      display: flex;
  
    }
  
    .txt5 {
      color: #ffff;
      display: flex;
     margin-left: 35px;
     cursor:pointer;
  font-size: 20px;
    }

    /* https://dev.to/themodernweb/how-to-make-an-e-commerce-website-with-html-css-and-js-3aon */