@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@font-face {
    font-family: Motion-Picture;
    src: url(MotionPicture_PersonalUseOnly.ttf);}

*{ font-family: Quicksand;
margin:0;
paddig:0;
box-sizing:border-box;
list-style: none ;
text-decoration: none;
scroll-behavior: smooth;
scroll-padding-top: 2rem;}

:root{
    --main-color: rgb(196, 35, 131);
    --second-color:rgb(196, 35, 131);
    --bg-color:rgb(250, 144, 208);
 --text-color: #fff;


}
/*box shadow*/

--box-shadow: 2px 2px 10px 4px rgb(14 55 54 / 15%);

html::-webkit-scrollbar{
    width: 0.5rem;

}

html::-webkit-scrollbar-thumb {
    background: transparent;
}

html::-webkit-scrollbar-track {
    background: var (--text-color);
border: radius 5rem;

}

img {width:100%;}
section {padding:50px 100px;}
header{
    position:fixed;
width:100%;
top:0;
right:0;
z-index:1000;
display:flex;
align-items: center;
justify-content: space-between;
padding: 20px 100px;
transition:0.5s linear;
}

.logo {
   
        width: 110px;
        height:auto;

}



.navbar{
    display: flex;
    column-gap: 100px;
    color:var(--text-color)
}
.navbar a {
    font-size:1rem;
    font-weight: 500;
    color:var(--text-color)
}





li:hover {
    color: var(--second-color)}



#menu-icon{
    display: none;
}






#icns{
    color: #fff;
font-size: 30px;

    cursor:pointer;
    z-index: 100000;
    color: #fff;

   

    }
    #icn-srch{
        color: #fff;
    font-size: 30px;
    
        cursor:pointer;
        z-index: 100000;
        color: #fff;
    
       
    
        }

 
    


.userbx{
    position: absolute;
    top:110%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
background: #fff;
padding: 20px;
border-radius: 0.5rem;
box-shadow :rgb(196, 35, 131);
right: -210px;
}

.userbx h2{
    font-size:1.2rem;
    color: #ffffff;
}

.userbx .login-btn{
    background: var(--bg-color);
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    cursor:pointer;

}

.userbx .login-btn:hover{
    background: var(--second-color)
    ;
}

.userbx input {
    border: none;
    outline: none;
    background:#d6d3d3ed;
   
    padding: 10px;
    border-radius: 0.5rem;
    width: 100%;
}
.userbx p{
    font-size: 0.938rem;

}

.userbx a {
    text-decoration: underline;
    color:var(--main-color)
}
.userbx.active{
    right: 1rem;
    transition: 0.2s;


}
.home{
    width: 100%;
min-height: 100vh;
display:grid;
grid-template-columns: repeat (auto-fit, minmax(17rem,1fr ));
align-items: center;
gap:1.5rem;
background: var(--bg-color);
}

.home-text span{
    font-weight: 600;
    text-transform: uppercase;
}

.home-text h1{
    font-size: 3.4rem;
    margin-bottom:1rem;

}

.heading{
    text-align: center;
}

.heading h1{
font-size:1.7rem ;
font-weight: 600;
text-transform: capitalize;
color: #ffffff;

}

.heading span {
    padding: 0.2rem 1.2rem;
    background:var(--main-color);
    color:var(--bg-color)
    font-weight:500;
    display:inline-block;
    text-transform:uppercase
    clip-path:polygon(100% 0, 93%, 50%, 86%, 99%, 0%, 100%, 7%, 47%,13% 0% );
}





new-arrival .box:hover content {
top:0;
transition: 0.2s;

}









.btn{
    background-color: var(--bg-color);
    color: #fff ;
    width: 150px;
    height: 100px;
    font-size: 20px;
    border-radius: 45px;
    display:flex
    jusify-content:center;
    position:absolute;
    border:none;

    margin-top: 0px;
margin-left: 110px;
transition:1s;
}

.btn:hover{
    transform: scale(1.04);
  cursor: pointer;
}


.content {
    height: 520px;
    width: 935px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 5px 0px rgba(88, 20, 50, 0.75);
}

.content .slide img {
    height: 100%;
    width: 100%;
}

.navigation {
	position: absolute;
			bottom: 50px;
			left: 43%;
			z-index: 10;
			margin-bottom: -10px;
			font-size: 0;
			line-height: 0;
			text-align: center;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
}
      .navigation label {
        position: relative;
        display: inline-block;
        cursor: pointer;
        border-radius: 50%;
        margin: 0 4px;
        padding: 2px;
        background: rgb(205, 67, 150)0;
		
}

.navigation label:hover:after {
  opacity: 1;
}
 .navigation label:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -6px;
  margin-top: -6px;
  background: #ffff;
  border-radius: 50%;
  padding: 6px;
  opacity: 0;
}
.navigation> .arrows {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



.inside .navigation {
  bottom: 10px;
  margin-bottom: 10px;
}

.bar {

    width: 15px;
    height: 15px;
    border: 2px solid white;
    margin: 6px;
    border-radius: 15px;
    cursor: pointer;
    transform: .5s ease;}

.bar:hover {
    background-color: white;




    
}

input {
  display: none;
}
.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide {
    width: 20%;
    transition: .6s;
}

#slide1:checked ~ .s1 {
    margin-left: 0;
} 

#slide2:checked ~ .s1 {
    margin-left: -20%;
} 

#slide3:checked ~ .s1 {
    margin-left: -40%;
} 

#slide4:checked ~ .s1 {
    margin-left: -60%;
} 

#slide5:checked ~ .s1 {
    margin-left: -80%;
} 

.div-slide{
    background-color:#fff;
position: absolute;
top:0;
left:0
border: none;
width: 400px;
    height: 220px;
    z-index: 50px;
    margin-top: 150px;
margin-left: 230px;
}

#finder{
    position: absolute;
    bottom:40%;
    display: block;
background: #fff;
padding: 16px;
border-radius: 0.5rem;
box-shadow :rgb(196, 35, 131);
width: 140px;
height: 10px;
margin-left: -95px;
border: none;
box-shadow: var(--second-color);
}